node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.DS_Store
Thumbs.db

*.log
*.pid
*.seed

server/node_modules
server/dist
server/db/*.db
server/.env
server/uploads/*
server/coverage

client/node_modules
client/dist
client/.vite
client/.temp

mobile/flutter_app/.dart_tool
mobile/flutter_app/.idea
mobile/flutter_app/.vscode
mobile/flutter_app/build
mobile/flutter_app/ios/Flutter/Flutter.framework
mobile/flutter_app/ios/Flutter/App.framework
mobile/flutter_app/android/.gradle
mobile/flutter_app/android/app/build
mobile/flutter_app/.flutter-plugins
mobile/flutter_app/.flutter-plugins-dependencies
mobile/flutter_app/.packages
mobile/flutter_app/pubspec.lock
mobile/flutter_app/.metadata

.history
